.sale-card {
    max-width: 240px;
    // max-height: 323px;
    padding: 10px 20px 30px 20px;
    border-radius: 3px;
    border: 1px solid rgba(19, 19, 19, 0.05);
    background: #FFF;
    position: relative;

    .sale-cost {
        position: absolute;
        left: 0;
        top: 24px;

        p {
            border-radius: 0px 15px 15px 0px;
            background: #FE3A19;
            padding: 6px 7px;
            color: #FFF;
            // font-family: HelveticaNeueCyr;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .sale-card-img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .card-text {
        p {
            color: #131313;
            // font-family: HelveticaNeueCyr;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 10px;
        }

        .card-text-cost {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;

            h1 {
                color: #FE3A19;
                font-family: 'Bebas Neue';
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            p {
                color: #999;
                font-family: 'Bebas Neue';
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: line-through;
                margin-bottom: 0;
            }
        }

        .sale-card-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #131313;
            // font-family: HelveticaNeueCyr;
            font-size: 15px;
            font-style: normal;
            font-weight: 550;
            line-height: 20px;
            background: none;
            border: none;

            svg {
                transition: all ease 0.5s;
            }

            &:hover {
                svg {
                    transform: translate(3px);
                    transition: all ease 0.5s;
                }
            }
        }
    }
}