header {
    padding: 20px 0;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-logo {
            width: 120px;

            img {
                width: 100%;
            }
        }

        .header-center {
            display: flex;
            align-items: center;
            gap: 20px;

            .header-category {
                height: 40px;
                width: 124px;
                display: flex;
                align-items: center;
                height: 40px;
                padding: 4px 16px;
                border-radius: 3px;
                border: 1px solid #D6D6D6;
                background: #FFF;
                gap: 8px;
                cursor: pointer;
                color: #131313;
                // font-family: HelveticaNeueCyr;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .header-search {
                width: 579px;
                height: 40px;

                input {
                    border-radius: 3px;
                    border: 1px solid #D6D6D6;
                    outline: unset;
                    box-shadow: unset;
                    padding: 10px 20px;
                    color: #131313;
                    // font-family: HelveticaNeueCyr;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    opacity: 0.5;
                }

                button {
                    border-radius: 0px 3px 3px 0px;
                    background: #131313;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 550;
                    line-height: 16px;
                }
            }
        }
        .header-buttons{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}