footer {
    background: #131313;
    padding: 40px 0;

    .footer {

        .footer-top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            align-items: flex-start;
            gap: 96px;
            margin-bottom: 30px;

            .footer-category {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1 {
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 20px;
                }

                a {
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    opacity: 0.6;
                    transition: all ease 0.5s;

                    &:hover {
                        color: #FE3A19;
                        transition: all ease 0.5s;
                    }


                    /* 133.333% */
                }
            }

            .footer-about {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1 {
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 20px;
                }

                a {
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    opacity: 0.6;
                    transition: all ease 0.5s;

                    &:hover {
                        color: #FE3A19;
                        transition: all ease 0.5s;
                    }


                    /* 133.333% */
                }

                .footer-icons {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }
        }

        .footer-center {
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.10);

            p {
                color: #FFF;
                // font-family: HelveticaNeueCyr;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                opacity: 0.6;
                width: 100%;
                max-width: 768px;
                /* 137.5% */
            }
        }

        .footer-bottom {
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.10);

            .footer-bottom-text {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    opacity: 0.6;
                    /* 137.5% */
                }

                a {
                    color: #FFF;
                    // font-family: HelveticaNeueCyr;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    opacity: 0.6;

                    span {
                        color: #FE3A19;
                        // font-family: HelveticaNeueCyr;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
        }

    }
}