.news {
    margin-bottom: 110px;

    .news-title {
        margin-bottom: 40px;

        h1 {
            color: #131313;
            // font-family: HelveticaNeueCyr;
            font-size: 40px;
            font-style: normal;
            font-weight: 550;
            line-height: 42px;
        }
    }

    .news-cards {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .news-cards-left {
            width: 280px;

            .left-card {
                // width: 100%;
                background-image: url('../../assets/images/newsCard.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 380px;
                width: 280px;

                .left-card-text {
                    height: 380px;
                    width: 280px;
                    padding: 40px 20px;

                    h1 {
                        color: #FFF;
                        // font-family: HelveticaNeueCyr;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 550;
                        line-height: 32px;
                        margin-bottom: 146px;
                        /* 133.333% */
                    }

                    button {
                        background: #FE3A19;
                        border: 2px solid #FE3A19;
                        padding: 15px 33px;
                        color: #FFF;
                        // font-family: HelveticaNeueCyr;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        border-radius: 4px;
                    }
                }
            }
        }

        .news-cards-right {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            .sale-card{
                .sale-cost{
                    display: none;
                }
            }
        }
    }
}